

<tr height="235">
    <td class="background1">&nbsp;</td>
    <td class="bordure_gh" width="10">&nbsp;</td>
    <td class="content_head" background="/_fr/lib/img/nav_bg.jpg" height="250">

        <ul id="sddm">
            <li><a href="#" 
                onmouseover="mopen('m1')" 
                onmouseout="mclosetime()">ENTREPRISE</a>
                <div id="m1" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="bienvenue.shtml">BIENVENUE</a>
                <a href="entreprise.shtml">&Agrave; PROPOS DE NOUS</a>
                <a href="notre_approche.shtml">NOTRE APPROCHE</a>
                <a href="developpement_durable.shtml">D&Eacute;VELOPPEMENT DURABLE</a>
                </div>
            </li>
            <li><a href="#" 
                onmouseover="mopen('m2')" 
                onmouseout="mclosetime()">SERVICES</a>
                <div id="m2" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="services_de_consultation.shtml">SERVICES DE CONSULTATION</a>
                <a href="services_geres.shtml">SERVICES G&Eacute;R&Eacute;S</a>
                <a href="developpement_applicatif.shtml">D&Eacute;VELOPPEMENT APPLICATIF</a>
                <a href="placement_permanent.shtml">RECRUTEMENT</a>
                </div>
            </li>
            <li><a href="#"
            	onmouseover="mopen('m3')" 
                onmouseout="mclosetime()">CARRI&Egrave;RE</a>
                <div id="m3" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="carriere_chez_osi.shtml">CARRI&Egrave;RE CHEZ OSI</a>
                <a href="nos_consultants.shtml">POUR NOS CONSULTANTS</a>
                </div>
            </li>
            <li><a href="#"
            	onmouseover="mopen('m4')" 
                onmouseout="mclosetime()">POSTE DISPONIBLE</a>
                <div id="m4" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="emplois.php?type=Contractuel">CONTRACTUEL</a>
                <a href="emplois.php?type=Permanent">PERMANENT</a>
                </div>
           	</li>
            <li><a href="nouvelles.shtml">NOUVELLES</a></li>
        </ul>
        
        <div id="top_menu">
	        <li><a href="accueil.shtml">PAGE D'ACCUEIL</a></li>
            <li><a href="contact.shtml">NOUS CONTACTER</a></li>
            <li><a href="javascript:english()">ENGLISH</a></li>
        </div>
        
        <div id="nouvelle">
	        <a href="nouvelles/Acquisition_par_Groupe_Conseil_OSI.pdf" target="_blank">Groupe Conseil OSI proc&egrave;de &agrave; l'acquisition de GP3 Groupe Conseil</a>
        </div>
        
	</td>
    <td class="bordure_dh" width="10">&nbsp;</td>
    <td class="background1">&nbsp;</td>
</tr>