<meta name="author" content="Groupe conseil OSI, Wandi Zhang" />
<meta name="revised" content="Wandi Zhang, 07/30/2009" />
<meta name="description" content="Services-conseils et intégration / Consulting and integration">
<meta name="keyword" content="administrateur, analyste programmeur, analyse, analyste d'affaire, applications, architecture, base de données, bureautique, certification, conseiller, consultant, consultation, contractuel, contrat, développement, emplois, erp, formation, gcosi, gestion, groupe, impartition, technologie de l'information, informatique, iso 9001, internet, intranet, logiciel, mandat, micro-ordinateur, microsoft, pigiste, pige, poste, programmation, projet, recrutement, réseautique, ressources humaines, service conseil, solution d'affaire, spécialisation, spécialiste, support technique, télécommunication, travail, site web">
<meta name="robots" content="index, follow">
<meta name="rating" content="general">
<meta name ="category" content="TI, IT, services-conseils, consultation, placement, recrutement">
<title>Groupe conseil OSI inc. - Entreprise de services conseil en T.I.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">


<link href="/lib/css/styles.css" rel="stylesheet" type="text/css"></link>
<link href="/lib/css/nav_fr.css" rel="stylesheet" type="text/css"></link>
<script language="JavaScript" src="/lib/js/global.js"></script>
<script language="JavaScript" src="/lib/js/swfobject.js"></script>
<script language="JavaScript" src="/lib/js/jquery-1.7.1.js"></script>
<script language="JavaScript" src="/lib/js/nav.js"></script>