body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body.1
{
background-image:url(images/bg.gif);
}
h1,h2
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	}
h3
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	}
h4
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	}
p.content1
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	}
p.content2
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#333333;
	}
p.content3
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	}
p.content4
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#009900;
	}	
	
table.content
	{
	text-align:left;
	width:100%;
	height:100%;
	border:0px;
	}
tr.head
	{
	height:230px;
	}
td
	{
	vertical-align:top;	
	}
td.content_side
	{
	width:210px;
	padding:10px;
	text-align:center;
	}
td.content_main
	{
	padding:0px;
	width:520px;
	}
td.content_head
	{
	width:750px;		
	}	
td.content_foot1
	{
	text-align:right;
	padding-left:20px;
	padding-right:20px;	
	padding-top:10px;
	padding-bottom:20px;
	}
td.content_foot2
	{
	padding-left:20px;
	padding-right:20px;	
	padding-top:10px;
	padding-bottom:20px;		
	}	
td.background1
	{
	background-image:url(images/bg.jpg);
	}
td.background2
	{
	background-image:url(images/bg.gif);
	}
td.bordure_g
	{
	background-image:url(images/bordure_gauche.jpg);
	}
td.bordure_d
	{
	background-image:url(images/bordure_droite.jpg);
	}
td.bordure_gh
	{
	background-image:url(images/bordure_gauche_haut.jpg);
	}
td.bordure_dh
	{
	background-image:url(images/bordure_droite_haut.jpg);
	}
ul
{
list-style: disc; 
}

ol
{
list-style: decimal; 
}
a
{
color:gray;
text-decoration:none;
}
a:visited {color:black}
a:active  {color:mediumblue}
a:hover   
{
color:mediumblue;
text-decoration:underline;
}
a.clear
{
color:#333333;
text-decoration:none;
}
a.clear:visited {color:black}
a.clear:active  {color:mediumblue}
a.clear:hover   
{
color:mediumblue;
text-decoration:underline;
}
.accueil {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
.accueil_content {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	width:520px;
}