<tr height="235">
    <td class="background1">&nbsp;</td>
    <td class="bordure_gh" width="10">&nbsp;</td>
    <td class="content_head">
    	<div id="replaceContent">
        	<p>You need Flash plugin to see this content.<br />
       	    <a href="http://get.adobe.com/flashplayer/">Clic here to download. </a></p>
        </div>
		<script type="text/javascript">
            var flashvars = {};
            var params = {};
            var attributes = {};
            attributes.id = "flash1";
            swfobject.embedSWF("/" + getCurrentUrlLanguage() + "/lib/swf/flash1.swf?code=" + Math.random(), "replaceContent", "750", "250", "8.0.0", false, flashvars, params, attributes);
        </script>
	</td>
    <td class="bordure_dh" width="10">&nbsp;</td>
    <td class="background1">&nbsp;</td>
</tr>