

<tr height="235">
    <td class="background1">&nbsp;</td>
    <td class="bordure_gh" width="10">&nbsp;</td>
    <td class="content_head" background="/_en/lib/img/nav_bg.jpg" height="250">

        <ul id="sddm">
            <li><a href="#" 
                onmouseover="mopen('m1')" 
                onmouseout="mclosetime()">COMPANY</a>
                <div id="m1" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="welcome.shtml">WELCOME</a>
                <a href="entreprise.shtml">ABOUT US</a>
                <a href="our_approch.shtml">OUR APPROACH</a>
                <a href="sustainable_development.shtml">SUSTAINABLE DEVELOPMENT</a>
                </div>
            </li>
            <li><a href="#" 
                onmouseover="mopen('m2')" 
                onmouseout="mclosetime()">SOLUTIONS</a>
                <div id="m2" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="consulting_services.shtml">CONSULTING SERVICES</a>
                <a href="managed_services.shtml">MANAGED SERVICES</a>
                <a href="application_development.shtml">APPLICATION DEVELOPMENT</a>
                <a href="permanent_placement.shtml">RECRUITMENT</a>
                </div>
            </li>
            <li><a href="#"
            	onmouseover="mopen('m3')" 
                onmouseout="mclosetime()">CAREER</a>
                <div id="m3" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="career_at_osi.shtml">CAREER AT OSI</a>
                <a href="our_consultants.shtml">OUR CONSULTANTS</a>
                </div>
            </li>
            <li><a href="#"
            	onmouseover="mopen('m4')" 
                onmouseout="mclosetime()">CURRENT OPENINGS</a>
                <div id="m4" 
                    onmouseover="mcancelclosetime()" 
                    onmouseout="mclosetime()">
                <a href="jobs.php?type=Contractuel">CONTRACTUAL</a>
                <a href="jobs.php?type=Permanent">PERMANENT</a>
                </div>
           	</li>
            <li><a href="news.shtml">NEWS</a></li>
        </ul>
        
        <div id="top_menu">
	        <li><a href="home.shtml">HOME</a></li>
            <li><a href="contact.shtml">CONTACT US</a></li>
            <li><a href="javascript:francais()">FRAN&Ccedil;AIS</a></li>
        </div>
        
        <div id="nouvelle">
	        <a href="nouvelles/Press_release-Groupe_Conseil_OSI_ENG.pdf" target="_blank">OSI Consultant Group is once again a Qu&eacute;bec-owned company following a buyout by Investissement Qu&eacute;bec and Capital r&eacute;gional et coop&eacute;ratif Desjardins.</a>
        </div>
        
	</td>
    <td class="bordure_dh" width="10">&nbsp;</td>
    <td class="background1">&nbsp;</td>
</tr>