<meta name="author" content="Groupe conseil OSI, Wandi Zhang" />
<meta name="revised" content="Wandi Zhang, 07/30/2009" />
<meta name="description" content="Services-conseils et intégration / Consulting and integration">
<meta name="keyword" content="administrator / manager, programmer analyst, analyze, business analyst, programs / applications, architecture, database, office automation, mcse, consultant, consulting, contractual, contract, development, job, sap, training, gcosi, management, group, outsourcing, information technology, computer science, software, mandate, micro-computer, windows2000, freelancer / free lance, position, programming, project, recruiting, networking, human resources, advising service, business solution, specialization, specialist, helpdesk, telecommunication, work, web site">
<meta name="robots" content="index, follow">
<meta name="rating" content="general">
<meta name ="category" content="TI, IT, services-conseils, consultation, placement, recrutement">
<title>Groupe conseil OSI inc. - IT Consulting Services company</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">


<link href="/lib/css/styles.css" rel="stylesheet" type="text/css"></link>
<script language="JavaScript" src="/lib/js/global.js"></script>
<script language="JavaScript" src="/lib/js/swfobject.js"></script>