<tr height="250">
    <td class="background2"></td>
    <td class="bordure_g"></td>
    <td class="content_head">
    

        <style>
			#carousel
			{
				position: relative;
			}
			
        	.image
			{
				position: absolute;
			}
			
        </style>
		<script type="text/javascript">
		
			var intervalSecond = 15000;
			var current = -1;
			var total = 4;
			var fadeIn, fadeOut;
			var contentIntervalID;
			var fadeIntervalID;
			var fadeDuration = 500;
			var fadeSteps = 50;

			$("#carousel").ready(init);
			
			function init()
			{
				for(var i = 0; i < total; i++)
				{
					document.getElementById("image_" + i).style.opacity = 0;
					document.getElementById("image_" + i).style.filter = "alpha(opacity=" + 0 + ")";
				}
				changeContent();
				contentIntervalID = setInterval(changeContent, intervalSecond);
			}
			
			function changeContent()
			{
				fadeOut = document.getElementById("image_" + current)
				current = (current + 1) >= 4 ? 0 : current + 1;
				fadeIn = document.getElementById("image_" + current);
				
				fade();
			}
			
			function fade()
			{
				fadeIntervalID = setInterval(doFade, fadeDuration / fadeSteps);
			}
			
			function doFade()
			{
				if(fadeIn.style.opacity >= 1) 
				{
					clearInterval(fadeIntervalID);
					return;
				}
				
				fadeIn.style.opacity = parseFloat(fadeIn.style.opacity) +  (1 / fadeSteps);
				fadeIn.style.filter = "alpha(opacity=" + (parseFloat(fadeIn.style.opacity) * 100) + ")";

				if(fadeOut) 
				{
					fadeOut.style.opacity =  parseFloat(fadeOut.style.opacity) -  (1 / fadeSteps);
					fadeOut.style.filter = "alpha(opacity=" + (parseFloat(fadeOut.style.opacity) * 100) + ")";
				}
			}
			
        </script>
        
	    <div id="carousel">
            <div class="image"><img id="image_0" src="/_en/lib/img/home_1.jpg" /></div>
            <div class="image"><img id="image_1" src="/_en/lib/img/home_2.jpg" /></div>
            <div class="image"><img id="image_2" src="/_en/lib/img/home_3.jpg" /></div>
            <div class="image"><img id="image_3" src="/_en/lib/img/home_4.jpg" /></div>
        </div>
        
        <div id="test"></div>

	</td>
    <td class="bordure_d"></td>
    <td class="background2"></td>
  </tr>