<tr height="250">
    <td class="background2"></td>
    <td class="bordure_g"></td>
    <td class="content_head">
	    <div id="replaceContent">
        	<p>You need Flash plugin to see this content.</p>
        </div>
		<script type="text/javascript">
            var flashvars = {};
            var params = {};
            var attributes = {};
            attributes.id = "flash_accueil4";
            swfobject.embedSWF("/" + getCurrentUrlLanguage() + "/lib/swf/flash_accueil4.swf", "replaceContent", "750", "250", "8.0.0", false, flashvars, params, attributes);
        </script>
	</td>
    <td class="bordure_d"></td>
    <td class="background2"></td>
  </tr>