html,body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height:100%;
}/*
object {
	display: block;
}
img {
	display: block;
}*/
.helvet {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.arial {
	font-family:Arial, Helvetica, sans-serif;
}
.titre1 {
	color:#999999;
	font-size:16px;
	font-weight:bold;
}
.titre2 {
	color:#CC0000;
	font-size:10px;
	font-weight:bold;
}
.text1 {
	color:#666666;
	font-size:10px;
	line-height:1.5;
}
.text3 {
	color:#FFFFFF;
	font-size:10px;
	font-weight:bold;
}
.lien1:link
	{
	color:#FF0000;
	font-weight:none;
	text-decoration:none;
	}
.lien1:visited 
	{
	color:#666666;
	text-decoration:none
	}
.lien1:active  
	{
	color:#666666;
	text-decoration:none
	}
.lien1:hover 
	{
	color:#660000;
	text-decoration:underline;
	}
.lien2:link
	{
	color:#CC0000;
	font-weight:none;
	text-decoration:none;
	}
.lien2:visited 
	{
	color:#CC0000;
	text-decoration:none
	}
.lien2:active  
	{
	color:#CC0000;
	text-decoration:none
	}
.lien2:hover 
	{
	color:#CC0000;
	text-decoration:underline;
	}