/* CSS Document */

#nouvelle
{
	width:220px;
	position: relative;
	top: 180px;
	left: -472px;
	float: left;
	font: 10px Verdana, Geneva, sans-serif, Arial, Helvetica, sans-serif;	
}

#top_menu
{
	margin: 0;
	padding: 0;
}

#top_menu li
{
	position: relative;
	top: 4px;
	left: 28px;

	float: left;
	list-style: none;
	padding: 0px 3px 0px 3px;
	font: 10px Verdana, Geneva, sans-serif, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
}

#sddm
{
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 12px Verdana, Geneva, sans-serif, Arial, Helvetica, sans-serif}

#sddm li a
{	
	position:relative;
	top:166px;
	left:250px;
	
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 2px 10px 1px 10px;
	background: #0f3a9f;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #446ab9}


#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0;}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0px 0px 0px 0px ;;
		padding: 1px 7px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #6d81b4;
		color: #FFFFFF;
		font: 10px Verdana, Geneva, sans-serif, Arial, Helvetica, sans-serif}

	#sddm div a:hover
	{	background: #446ab9;
		color: #FFFFFF}
		
/*
.nav_menu_label
{
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#FFFFFF;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.nav_submenu_label
{
	font-family:Verdana, Helvetica, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#FFFFFF;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#nav_bg
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
*/
/*nav_menu*/
/*
#nav_menu
{
	position:relative;
	top:-84;
}

#nav_menu_label_1
{
	position:absolute;
	left:268;
}
#nav_menu_label_2
{
	position:absolute;
	left:366;
}
#nav_menu_label_3
{
	position:absolute;
	left:448;
}
#nav_menu_label_4
{
	position:absolute;
	left:530;
}

#nav_menu_label_5
{
	position:absolute;
	left:670;
}
*/
/*nav_submenu_bg*/
/*
#nav_submenu_bg
{
	position:relative;
	top:-64;
}

#nav_submenu_bg_1
{
	position:absolute;
	top:0;
}

#nav_submenu_bg_2
{
	position:absolute;
	top:16;
}

#nav_submenu_bg_3
{
	position:absolute;
	top:32;
}

#nav_submenu_bg_4
{
	position:absolute;
	top:48;
}
*/
/*nav_submenu_1*/
/*
#nav_submenu_1
{
	position:relative;
	top:-64;
	left:4;
}
*/